.profile_pic {
    padding: 10px;
}

.profile_name {
    text-align: center;
    color: white;
    padding: 7px;
}

.profile_bio {
    text-align: center;
    color: white;
    padding: 7px;
}

.matched__game-title {
    text-align: center;
    color: white;
    padding: 7px;
}

.skill_level {
    text-align: center;
    color: white;
    padding: 7px;
}